# This is the key used for the batter API. If someone gets the endpoint, they can add new devices or update existing ones
# which is why you should change this key to some random (hashed) string.
BATTERY_KEY=CHANGETHIS

PUBLIC_DISCORD_ID=123456789012345678