# This is the key used for the batter API. If someone gets the endpoint, they can add new devices or update existing ones
# which is why you should change this key to some random (hashed) string.
BATTERY_KEY=CHANGETHIS

# Since your discord user ID is just a public snowflake, you don't *need* to put it in here, but it's recommended in terms of tidyness
PUBLIC_DISCORD_ID=123456789012345678


#These are all the variables needed to make both the Photography & the Series Card function. Check the README.md on how to setup Airtable correctly.
AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_PHOTO_TABLE=
AIRTABLE_SERIES_TABLE=
