---
import Main from '../layouts/Main.astro';
import Header from '../components/Header.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Main>
<Header />
<!-- maybe add github commit history here?-->
<p>i'm 17 years old and trying to build cool stuff on the web. i'm still a beginner, but hope that some of my projects are useful to others</p>
<!-- add selector with 2 things, timeline and blog
	 timeline would be a list of projects
	 blog is self-explanatory.
 -->

<!-- add footer -->
</Main>
