---
import Birthday from "./Birthday.astro"
---

<header class="flex flex-col items-start gap-1">
    <a class="inline-flex items-center gap-[0.18rem] text-black no-underline" href="/" aria-label="Home">
        <span class="flex items-center text-5xl font-bold leading-none ml-[0.095rem] mt-1">
            <span class="font-moonhouse text-black">r</span>
            <span class="font-moonhouse text-black ml-[-0.43rem]">.</span>
        </span>
        <span class="text-[2.4rem] font-quicksand font-bold leading-none text-black ml-2">rob</span>
    </a>
</header>