---
import { SparklesIcon } from './animate-ui/SparklesIcon.tsx';
---


<div
  class="projects-card relative mx-auto w-full rounded-lg border-2 border-[#DCDCDC] bg-[#F7F7F6]/60 px-4 py-3 text-base font-medium"
>
    <div class="flex w-full items-center justify-between">
    <p class="flex items-center gap-1.5 text-xs leading-tight">
      <SparklesIcon client:load className="mb-0.2" /><span
        class="font-semibold -ml-px">things i've built</span
      >
    </p>
  </div>
</div>

<style>
  .projects-card {
    max-width: 100%;
  }

  @media (min-width: 1100px) {
    .projects-card {
      max-width: var(--portfolio-cards-max-width);
    }
  }
</style>