---
import { Clapperboard } from '@lucide/astro'
---

<div
  class="blog-card relative w-full h-full rounded-lg border-2 border-[#DCDCDC] bg-[#F7F7F6]/60 px-4 py-3 text-base font-medium"
>
  <div class="flex w-full items-center justify-between">
    <p class="flex items-center gap-1 text-xs leading-tight">
      <Clapperboard size={16} class="mb-0.2" /><span class="font-semibold"
        >what i'm curently watching</span
      >
    </p>
  </div>
  <div class="grid grid-cols-1 gap-4 mt-2">
    asdasd
  </div>
</div>

