---

type Props = {
    title: string;
    description: string;
    tags: string[];
    href?: string;
    githubURL?: string;
    status: "In Progress" | "Completed";
}

const { title, description, tags, href, githubURL, status } = Astro.props;

import { GitFork } from '@lucide/astro';
import { StarIcon } from '@lucide/astro';


---

<div
  class="project-slug rounded-lg border border-[#DCDCDC] bg-[#F7F7F6]/60 px-4 py-3 text-base font-medium"
  data-github-url={githubURL || ""}
>
  <div class="flex items-start justify-between gap-4">
    <div class="min-w-0">
    <p class="text-xl font-semibold leading-tight">{title}</p>
    <p class="mt-2 leading-tight">{description}</p>
  </div>

  {githubURL && (
    <div class="mt-1.25 flex items-center gap-3 text-xs">
      <span class="flex items-center gap-1">
        <StarIcon class="size-3.5"/> <span class="gh-stars">-</span>
      </span>
      <span class="flex items-center gap-1">
        <GitFork class="size-3.5"/> <span class="gh-forks">-</span>
      </span>
    </div>
  )}

  <a href={href} target="_blank" class="shrink-0 rounded-md border border-[#DCDCDC] bg-[#F7F7F6]/60 px-3 py-1 text-xs font-semibold">
    Live <!-- add arrow from animate-ui -->
  </a>
</div>

<div class="mt-3 flex flex-wrap gap-1.5">
  {
    tags.map((tag) => (
        <span class="rounded-md bg-black/7.5 px-2 py-1 text-xs leading-none text-black">{tag}</span>
    ))
  } 
</div>
</div>