---
import background from '../assets/background.svg';
import { Font } from "astro:assets";
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<Font cssVariable="--font-moonhouse" />
		<Font cssVariable="--font-quicksand" />
	</head>
	<body>
		<img src={background.src} alt="" fetchpriority="high" class="fixed inset-0 w-full h-full [z-index:-1]" style="filter: grayscale(1) blur(5px);" />
		<div class="min-h-screen flex justify-center pt-[4.5rem] px-6 pb-24 box-border">
			<div class="w-full max-w-[720px] relative">
				<slot />
			</div>
		</div>
	</body>
</html>


